<p>成功更新！</p>
<style type="text/css" </style>
#notice {
  display: none:
  }
</style>

<p>
  <b>管理员:</b>
  <%= @administrator.username %>
</p>

<p>
  <b>密文密码：</b>
  <%= @administrator.password_digest %>
</p>


