<div class="alert alert-success">
	<h2>作者</h2>
	<p>杨振飞</p>
	<p>Email:yangzhenfei0@gmail.com</p>
	<p>杨靖云</p>
	<p>Email:yunTiffany2011@163.com</p>
</div>

<div class="alert alert-info">
	<h2>网站介绍</h2>
	<p>小型网站，用于电影院在线售票。使用ruby on rails框架</p>
</div>

<div class="alert alert-error">
	<h2>意见与反馈</h2>
	<p>请随时联系我们</p>
</div>